body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Gloria Hallelujah";
}

.logo {
  font-family: "Gloria Hallelujah" !important;
  font-size: 2.2em;
}

h1 {
  font-family: "courier ";
  font-weight: bold;
  font-size: 1.1em;
}

button {
  color: white;
  background: dodgerblue;
  border: 0;
  border-radius: 2px;
  padding: 4px 5px;
  box-shadow: 1px 1px 2px gray;
}

.vcenter {
  display: flex;
  align-items: center;
}
